# 参考 https://github.com/github/gitignore/blob/master/Go.gitignore
# 程序和插件二进制文件
*.exe
*.exe~
*.dll
*.dylib

# `go test -c` 构建出的测试二进制文件
*.test

# Go 覆盖率工具输出，尤其是 LiteIDE 使用时生成的文件
*.out

# 依赖目录
vendor/

# 编译产物、静态库、动态库
*.o
*.a
*.so

# 操作系统通用文件
Thumbs.db
.DS_Store

# 项目文件
*.cert
*.key
*.log
**/logs/
bin/

# 开发工具
.vscode/
.idea/
*.swp

/common/api/gen/**
!/common/api/gen/.gitkeep
/common/api/gen-ts/**
/common/api/gen-go/**
/app/**/wire_gen.go
/app/**/conf.pb.go
/app/**/gen/
/app/**/server


/deploy/.prod.env

# AI 工具
.claude/
.gitnexus
.agents
